/* Font: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(214, 123, 12);
    font-family: "Inter", sans-serif;
}

div span {
    color: #1c1b1b;
    font-size: 30px;
}

.Link{
    padding: 0px 10px;
}